# Pandas, Basic Operations

In [51]:
#import Pandas Library
import pandas as pd

In [52]:
# Create DataFrame
df1 = pd.DataFrame({"a" : [4, 5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                  index = [1, 2, 3])

In [53]:
#print DataFrame
df1

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [54]:
# Reshaping the Data  (Gather Columns into rows)
df2 = pd.melt(df1)

In [55]:
df2

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [56]:
#Read the Data from CSV file into a DataFrame
df = pd.read_csv('Diabetes_Data.csv')

In [57]:
# check the data for the first 5 rows  
df.head(5)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [58]:
# Select last 5 rows.
df.tail(5)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [59]:
# Number of Rows and columns of the DataFrame
print('Dimensions : {} Rows and {} columns '.format(df.shape[0], df.shape[1]))

Dimensions : 768 Rows and 9 columns

In [60]:
# Randomly select n rows
df.sample(10)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
341,1,95,74,21,73,25.9,0.673,36,0
703,2,129,0,0,0,38.5,0.304,41,0
213,0,140,65,26,130,42.6,0.431,24,1
536,0,105,90,0,0,29.6,0.197,46,0
340,1,130,70,13,105,25.9,0.472,22,0
104,2,85,65,0,0,39.6,0.930,27,0
254,12,92,62,7,258,27.6,0.926,44,1
479,4,132,86,31,0,28.0,0.419,63,0
215,12,151,70,40,271,41.8,0.742,38,1
337,5,115,76,0,0,31.2,0.343,44,1

In [61]:
# select rows ( for all columns) by Position
df.iloc[2:4]

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0

In [62]:
# select specific columns only
df[['glucose','insulin','age']]

     glucose  insulin  age
0        148        0   50
1         85        0   31
2        183        0   32
3         89       94   21
4        137      168   33
5        116        0   30
6         78       88   26
7        115        0   29
8        197      543   53
9        125        0   54
10       110        0   30
11       168        0   34
12       139        0   57
13       189      846   59
14       166      175   51
15       100        0   32
16       118      230   31
17       107        0   31
18       103       83   33
19       115       96   32
20       126      235   27
21        99        0   50
22       196        0   41
23       119        0   29
24       143      146   51
25       125      115   41
26       147        0   43
27        97      140   22
28       145      110   57
29       117        0   38
..       ...      ...  ...
738       99      160   21
739      102        0   42
740      120      150   48
741      102       94   26
742      109      116   22
743      140        0   45
744      153      140   39
745      100      105   46
746      147        0   27
747       81       57   32
748      187      200   36
749      162        0   50
750      136        0   22
751      121       74   28
752      108        0   25
753      181      510   26
754      154        0   45
755      128      110   37
756      137        0   39
757      123        0   52
758      106        0   26
759      190        0   66
760       88       16   22
761      170        0   43
762       89        0   33
763      101      180   63
764      122        0   27
765      121      112   30
766      126        0   47
767       93        0   23

[768 rows x 3 columns]

In [63]:
# select all rows for specific range of columns
df.loc[:, 'glucose' : 'age']

     glucose  diastolic  triceps  insulin   bmi    dpf  age
0        148         72       35        0  33.6  0.627   50
1         85         66       29        0  26.6  0.351   31
2        183         64        0        0  23.3  0.672   32
3         89         66       23       94  28.1  0.167   21
4        137         40       35      168  43.1  2.288   33
5        116         74        0        0  25.6  0.201   30
6         78         50       32       88  31.0  0.248   26
7        115          0        0        0  35.3  0.134   29
8        197         70       45      543  30.5  0.158   53
9        125         96        0        0   0.0  0.232   54
10       110         92        0        0  37.6  0.191   30
11       168         74        0        0  38.0  0.537   34
12       139         80        0        0  27.1  1.441   57
13       189         60       23      846  30.1  0.398   59
14       166         72       19      175  25.8  0.587   51
15       100          0        0        0  30.0  0.484   32
16       118         84       47      230  45.8  0.551   31
17       107         74        0        0  29.6  0.254   31
18       103         30       38       83  43.3  0.183   33
19       115         70       30       96  34.6  0.529   32
20       126         88       41      235  39.3  0.704   27
21        99         84        0        0  35.4  0.388   50
22       196         90        0        0  39.8  0.451   41
23       119         80       35        0  29.0  0.263   29
24       143         94       33      146  36.6  0.254   51
25       125         70       26      115  31.1  0.205   41
26       147         76        0        0  39.4  0.257   43
27        97         66       15      140  23.2  0.487   22
28       145         82       19      110  22.2  0.245   57
29       117         92        0        0  34.1  0.337   38
..       ...        ...      ...      ...   ...    ...  ...
738       99         60       17      160  36.6  0.453   21
739      102         74        0        0  39.5  0.293   42
740      120         80       37      150  42.3  0.785   48
741      102         44       20       94  30.8  0.400   26
742      109         58       18      116  28.5  0.219   22
743      140         94        0        0  32.7  0.734   45
744      153         88       37      140  40.6  1.174   39
745      100         84       33      105  30.0  0.488   46
746      147         94       41        0  49.3  0.358   27
747       81         74       41       57  46.3  1.096   32
748      187         70       22      200  36.4  0.408   36
749      162         62        0        0  24.3  0.178   50
750      136         70        0        0  31.2  1.182   22
751      121         78       39       74  39.0  0.261   28
752      108         62       24        0  26.0  0.223   25
753      181         88       44      510  43.3  0.222   26
754      154         78       32        0  32.4  0.443   45
755      128         88       39      110  36.5  1.057   37
756      137         90       41        0  32.0  0.391   39
757      123         72        0        0  36.3  0.258   52
758      106         76        0        0  37.5  0.197   26
759      190         92        0        0  35.5  0.278   66
760       88         58       26       16  28.4  0.766   22
761      170         74       31        0  44.0  0.403   43
762       89         62        0        0  22.5  0.142   33
763      101         76       48      180  32.9  0.171   63
764      122         70       27        0  36.8  0.340   27
765      121         72       23      112  26.2  0.245   30
766      126         60        0        0  30.1  0.349   47
767       93         70       31        0  30.4  0.315   23

[768 rows x 7 columns]

In [64]:
# count the number of rows with Unique values in a column
df['diabetes'].value_counts()

0    500
1    268
Name: diabetes, dtype: int64

In [65]:
# Number of Distinct values in a column
df['diabetes'].nunique()

2

In [66]:
# Number of Rows
len(df)

768

In [67]:
# Descprictive stats for each column
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [68]:
# DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
pregnancies    768 non-null int64
glucose        768 non-null int64
diastolic      768 non-null int64
triceps        768 non-null int64
insulin        768 non-null int64
bmi            768 non-null float64
dpf            768 non-null float64
age            768 non-null int64
diabetes       768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [69]:
#Drop Rows with column having NA (null)
#df.dropna()

#Replace NA values with any
#df.fillna(5)

#Note - No Null or NA values present in this dataset.